/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 25, 2017, 10:18:08 AM
    Author     : Gryphon
*/

.fa-btn {
    margin-right: 6px;
}
.SP-01{
    margin-bottom: 0px;
    margin-top: -9px;
    color: red;
    font-size: 10px;
}